{% extends 'base.html' %}
{% block content %}
<style>
    .container{
        padding:40px
    }

   .iframe{
    position: center;
   }
   p{
    text-indent: 50px;
    
   }
</style>
<div class="container">
<h1 style="text-align:center;">About Us</h1><br><br><br>
<div class="small-container">
<p style="text-align:left;">“Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugiat quod corporis delectus
    sequi laudantium molestias vero distinctio, qui numquam dolore, corrupti, enim consectetur cum? 

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque a quam nulla ipsa natus quisquam!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ex odit tenetur alias expedita impedit in veritatis mollitia ipsam quae et quia, deleniti facere praesentium sunt assumenda earum saepe aperiam ullam sit. Tempora animi maxime a velit soluta laboriosam quo!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, tempora!”
</p>
</div>
<h3 >Google Map</h3>
<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9225.939085309163!2d85.31064871008748!3d27.73287238493181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19b41d687413%3A0x4649cb495c19165b!2sNeona&#39;s%20Sports%20Zone!5e0!3m2!1sen!2snp!4v1682065477794!5m2!1sen!2snp"
    width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}