<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}"> 
    <img src="{% static 'images/logo1.png'%}" width="90px">
    


</head>
<body>
    <img src="{% static 'images/login.jpg'%}">

   <div class="loginbox">
    <img src="images/logo.png"class="loogo">
    <h1>Login</h1>
<form>
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username">
    <p>password</p>
    <input type="password" name="" placeholder="Enter Password">
    <input type="submit" name="" value="Login">
    <a href="#"> Forget your password</a><br>
    <a href="#"> Don't have a Account?</a>


    
    
</form>

   </div>

    

<h1> </h1>
</div>

</body>
</html>