{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/pro.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main-wrapper">
    <div class="container">
        <div class="main-title">
            <h1>Our Products</h1>
            <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos sit
                consectetur, ipsa voluptatem vitae necessitatibus dicta veniam, optio, possimus assumenda laudantium.
                Temporibus, quis cum.</p>
        </div>
        <div class="display-style-btns">
            <button type="button" id="grid-active-btn">
                <i class="fas fa-th"></i>
            </button>
            <button type="button" id="details-active-btn">
                <i class="fas fa-list-ul"></i>
            </button>
        </div>


        <div class="item-list">

            {% for prod in product %}
            <div class="item">
                <div class="item-img">
                    <img src="{{prod.image.url}}" alt="product image">
                    <div class="icon-list">
                        <a href="{% url 'cart_add' prod.id %}" type="button">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a type="button">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="{{prod.id}}" class="item-name">{{prod.name}}</a>
                    <div class="item-price">
                        <span class="new-price">{{prod.price}}</span>
                        <span class="old-price">{{prod.sale}}</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fugiat quod corporis delectus
                        sequi laudantium molestias vero distinctio, qui numquam dolore, corrupti, enim consectetur cum?
                    </p>
                    <a href="{% url 'cart_add' prod.id %}" type="button" class="add-btn">add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<script src="{% static 'js/grid.js' %}"></script>>


{% endblock %}