{% extends 'admin/adminbase.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin.css'%}">
<br></br><br></br>
{% include 'messages.html' %}
<div class="container">
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h6 class="panel-title">Total Product List</h6>
	  </div>
	  <table class="table table-hover" id="dev-table">
		<thead>
		  <tr>
			<th>Name</th>
			<th>Price</th>
			<th>category</th>
			<th>Image</th>
			<th>Update</th>
			<th>Delete</th>
		  </tr>
		</thead>
		{% for p in product %}
	
  
		<tr>
		  <td> {{p.name}}</td>
		  <td>{{p.price}}</td>
		  <td>{{p.category}}</td>
		  {% if p.image %}
		  	<td> 
				<img src="{{p.image.url}}" alt="Profile Pic" width="80px" />
		  	</td>
		  {% else %}
		  	<td> 
				<img src="{{p.image.url}}" alt="Profile Pic" width="80px" />
		  	</td>
		  {% endif %}
		  
	
		  <td><a class="btn btn-primary btn-xs" href="{% url 'edit-product' p.id %}"><span class="glyphicon glyphicon-edit"></span>Edit</a></td>
		  <td><a class="btn btn-danger btn-xs" href="{% url 'delete-product' p.id %}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>
  
		
		
		
		
		{% endfor %}
	  </table>
	</div>
  </div>
  
  <a href="{% url 'add-product' %}" class="float">
  <i class="fa fa-plus my-float"></i>
  </a>
{% endblock %}

