{% extends 'base.html' %}

{% load static %}
{% load cart_tag %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/cart.css'%}">



<div class="small-container cart-page">
    <a href="{% url 'cart_clear' %}">Clear Cart</a>
    
    
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>


        {% for key,value in request.session.cart.items %}
        <tr>
            <td>
               
                <div class="cart-info">
                    <img src="{{value.image}}">
                    <div>
                        <p>{{value.name}}</p>
                        <small>Rs. {{value.price}}</small>
                        <br>
                        <a href="{% url 'item_clear' key %}">Remove</a>
                    </div>
                </div>
            </td>
            <td>

                <input type="number" value="{{value.quantity}}">
            </td>

            <td>Rs. {{ value.price|multiply:value.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
   
    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>Rs. {{ cart_total_amount }}</td>
            </tr>
            <tr>
                <td>Delivery charge</td>
                <td>Rs.100</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Rs. {{ cart_total_amount }} </td>
            </tr>
        </table>

    </div>

</div>


{% endblock %}