{% extends 'base.html' %}

{% load static %}
{% load cart_tag %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/cart.css'%}">



<div class="small-container cart-page">
    <a href="{% url 'cart_clear' %}">Clear Cart</a>
    
    
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>


        {% for key,value in request.session.cart.items %}
        <tr>
            <td>
               
                <div class="cart-info">
                    <img src="{{value.image}}">
                    <div>
                        <p>{{value.name}}</p>
                        <small>Rs. {{value.price}}</small>
                        <br>
                        <a href="{% url 'item_clear' key %}">Remove</a>
                    </div>
                </div>
            </td>
            <td>
               
            <h2> <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}">+</a>
                <input value="{{value.quantity}}">
                <a class="cart_quantinty_down" href="{% url 'item_decrement' value.product_id %}">-</a>
            </h2>
            </td>

            <td>Rs. {{ value.price|multiply:value.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
   
    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>Rs. {{ cart_total_amount }}</td>
            </tr>
            <tr>
                <td>Delivery charge</td>
                <td>Rs.100</td>
            </tr>

            <tr>
                <td>Shipping</td>
                <td>{{cart_total_amount  |multiply:10}}}</td>
               
            </tr>

            <tr>
                <td>Total</td>
                <td>Rs. {{ cart_total_amount| add:100 }} </td>
            </tr>

            <tr>
                <td>Payment</td>
                <td><a  href="{% url 'khalti' %}" id="payment-button">Pay with Khalti</a></td>
            </tr>
              
              
           
        </table>
      
    </div>

</div>


{% endblock %}