<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
<head>
    <title>Forgot Password</title>
</head>

<body style="background-image: url('{% static 'images/4.jpg' %}')">
{% include 'messages.html' %}
   

   <img src="{% static 'images/logo1.png'%}" width="90px">

   <div class="loginbox">
    
    
    <h1>Reset Password</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}

    {{field.errors}}
    

    <p>{{field.label_tag}}</p>
    <input type="text" name="{{field.html_name}}">
    {% endfor %}
    <input type="submit" name="" value="Send E-mail">
    
 


    
    
</form>

   </div>

   


</div>

</body>
</html>